#admin{
    display: flex;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    padding:10px;
    box-sizing: border-box;
    @media screen and (max-width: 600px){
        padding: 0;
    }
}
#admin-container{
    @keyframes admin-animation{
        from{
            opacity: 0;
            transform: translateY(30px);
            -webkit-transform: translateY(30px);
            -moz-transform: translateY(30px);
            -ms-transform: translateY(30px);
            -o-transform: translateY(30px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
        }
    }
    &{
        flex-grow: 1;
        overflow: auto;
        padding-top:20px;
        animation: admin-animation .3s;
        -webkit-animation: admin-animation .3s;
    }
}
#admin-leftbar{
    width:200px;
    padding-right:10px;
    margin-top:20px;
    white-space: nowrap;
    @media screen and (max-width: 600px){
        & .fui-Tab__content,& .fui-Tab__content--reserved-space{
            display: none;
        }
        & .fui-Tab{
            width:min-content;
        }
        &{
            width: min-content;
        }
    }
}