.fui-MessageBarGroup{
    position: fixed;
    top:10px;
    width:100%;
    left:10px;
    height: auto;
    z-index:999;
    .fui-MessageBar{
        margin:10px auto;
        width: fit-content;
        .fui-MessageBarBody{
            white-space: pre-wrap;
        }
    }
}