.milkdown{
    padding: 0 15px;
    margin-top:10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border: 1px solid var(--colorNeutralBackground6);
    font-family: "Noto Serif SC";
    background: var(--colorNeutralBackground1);
    font-weight: 600;
    & *{
        outline: none !important;
    }
    &-menu{
        --menu-bg: transparent!important;
        --menu-border: none!important;
        --menu-bg-hover:#c181be1f!important;
        button{
            color:var(--colorNeutralForeground1)!important;
            margin: 0!important;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            &:hover{
                color:var(--colorNeutralForeground2BrandHover)!important;
            }
        }
        div[role='separator']{
            background-color:var(--colorNeutralForeground1)!important;
            min-height: 16px!important;
        }
        ul{
            margin:0;
            padding: 0;
        }
        ul[role='menu']{
            background-color: var(--colorNeutralForegroundOnBrand)!important;
            border: 1px solid var(--colorNeutralBackground6)!important;
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
            padding: 5px!important;
            margin-top: 5px!important;
            animation: menuin .2s;
            -webkit-animation: menuin .2s;
            @keyframes menuin{
                from{
                    opacity: 0;
                    transform: translateY(-10px);
                    -webkit-transform: translateY(-10px);
                    -moz-transform: translateY(-10px);
                    -ms-transform: translateY(-10px);
                    -o-transform: translateY(-10px);
                }
                to{
                    opacity: 1;
                    transform: translateY(0px);
                    -webkit-transform: translateY(0px);
                    -moz-transform: translateY(0px);
                    -ms-transform: translateY(0px);
                    -o-transform: translateY(0px);
                }
            }
        }
        ul[role='menu'] li[role='menuitem']{
            @extend button;
            padding:5px!important;
        }
        button:not(:only-child){
            padding: 3px 10px!important;
            font-family: "Noto Serif SC";
            min-width: 100px!important;
        }
    }
}
